
Django
python-dotenv
google-generativeai
africastalking
Flask
google-genai
supabase
cryptography
# langchain-classic
# langchain-text-splitters
# langchain
# langchain-community
# langchain-core
# langchain-google-genai







